<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
        body {
            margin: 0;
            padding: 30px;
            font: 12px/1.5 Helvetica, Arial, Verdana, sans-serif
        }

        h1 {
            margin: 0;
            font-size: 48px;
            font-weight: normal;
            line-height: 48px
        }

        strong {
            display: inline-block;
            width: 65px
        }

        table tr {
            border-top: 1px solid #373e47;
        }

        table tr:nth-child(2n) {
            background-color: #cccccc;
        }
    </style>
</head>
<body>
{{ content | raw }}
</body>
</html>